* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

html {
    font-size: 62.5%;
}

h1 {
    color: white;
    font-size: 10rem;
    text-align: center;
    margin-top: 1.2rem;
}

#canvas02 {
    border: 3px solid white;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 800px;
    height: 450px;
    transform: translate(-50%, -50%);
}